@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

html {
  font-family: "fantasy", Georgia, sans-serif, serif;
  font-size: 2rem;
}

body {
  margin: 0;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 40px;
}
.head-color {
  font-family: "roboto", sans-serif;
  font-size: 90px;
  color: rgb(255, 115, 0);
}
.orange-color {
  color: rgb(255, 115, 0);
}

.half-width {
  width: 36.33%;
  margin-left: 5%;
  padding-left: 5%;
  float: left;
}

.half-width img {
  padding-left: 15%;
  width: 100%;
}
.top-banner {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}

section {
  height: 700px;
}

abbr {
  text-decoration: none;
}

.link-button {
  background-image: linear-gradient(-45deg, lightsalmon, tomato);
  text-decoration: none;
  padding: 5px 10px;
  background-color: orangered;
  border-radius: 3px;
  color: whitesmoke;
  font-weight: 600;
}

a:hover {
  color: gainsboro;
}

.dream-area {
  padding-left: 5%;
  padding-top: 10%;
  margin-right: 15px;
}

.dream-area img {
  margin-left: -30%;
  width: 100%;
}

/* nav elements style*/
ul {
  margin-top: 0;
  list-style-type: none;
  margin-left: 8%;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: tomato;
  color: white;
}

.active {
  background-color: orangered;
  color: white;
}

.single-experience {
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  height: 80%;
  width: 40%;
  padding: 10px;
  background-color: white;
}

.experience-area {
  padding-left: 3%;
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 95%;
}

#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, rgb(248, 81, 51));
  border-image-slice: 1;
}
#free-code {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
  font-size: 0.6rem;
}
footer a {
  text-decoration: none;
}
